@model MVC.Models.SignatureCompleteModel
@{
	ViewBag.Title = "Xml Element Signature";
}

<h2>XML Element Signature</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "signForm", role = "form" })) {
	@Html.ValidationSummary("", new { @class = "text-danger" })

	@* Hidden fields used to pass data from the action to the "signature form" javascript (see below) and vice-versa *@
	@Html.HiddenFor(m => m.CertThumb, new { id = "certThumb" })
	@Html.HiddenFor(m => m.ToSignHash, new { id = "toSignHash" })
	@Html.HiddenFor(m => m.TransferData, new { id = "transferData" })
	@Html.HiddenFor(m => m.DigestAlgorithmOid, new { id = "digestAlgorithm" })
	@Html.HiddenFor(m => m.Signature, new { id = "signature" })
}

@section Scripts {
	<script>
		$(document).ready(function () {
			signatureCompleteForm3.init({
				form: $('#signForm'),
				certThumbField: $('#certThumb'),
				toSignHashField: $('#toSignHash'),
				digestAlgorithmOidField: $('#digestAlgorithm'),
				signatureField: $('#signature')
			});
		});
	</script>
}
